// Create Account
extends layout
// Gross this looks like python
block content
 // Page Content
 script(src="/javascripts/CreateAccountCtrl.js")
 .container(ng-app='createAccount', ng-controller='accountController', style='padding: 70px; position: relative;')