// Created by Andrew Kralovec
extends layout
block content
  // Course Controller file 
  script(src="/javascripts/courseCtrl.js")
  // Page Content
  .container(ng-app='courseModule', ng-controller='courseCtrl' , ng-init="Course= #{JSON.stringify(Course)}")
    .row
      // Page Entries Column
      .col-md-8
        h1.page-header(ng-model='CourseName', ng-init="CourseName= #{JSON.stringify(CourseName)}")
          | {{CourseName}}
          // Debuging Purpose
          small(ng-model='currentUrl')   {{currentUrl}}
        // Course Feed post
        h2(ng-model='count' ng-init="count=Course.Posts.length ; halfCount=Math.round(Course.Posts.length/2)") Count: {{count}}
        .CourseContainer(ng-repeat='post in Course.Posts | filter:search:strict', style='padding: 5px;')
          h2
            a(href='#') {{post.name}}
          // Maybe remove the author option
          p.lead
            | by 
            a(href='index.php') {{post.author}}
          p
            i.fa.fa-clock-o
            |  Posted on {{post.timestamp}}
          hr
          // Remeber to fix paths for post 
          img.img-responsive(ng-src='/images/{{post.image}}', alt='', style='max-width:300px; max-height:300px;')
          hr
          p
            b {{post.Caption}}
            |  {{post.description}}
          a.btn.btn-primary(href='target="_self", {{currentUrl}}{{post.path}}')
            | Read More 
            i.fa.fa-arrow-circle-right
          hr
        // Pager 
        ul.pager
          li.previous
            a(href='#') ← Older
          li.next
            a(href='#') Newer →
      // Page Sidebar Widgets Column
      .col-md-4
        // Page Search Well
        .well
          h4 Post Search
          .input-group
            input.form-control(type='text',ng-model="search.name")
            span.input-group-btn
              button.btn.btn-default(type='button')
                 i.fa.fa-search
        // Page Categories Well
        .well
          h4 Course Posts
          .row
            // Category 1
            .col-lg-6
              ul.list-unstyled
                li(ng-repeat='post in Course.Posts')
                  // 
                  a(target="_self", href='{{currentUrl}}{{post.path}}') {{post.name}}
            // Category 2
        // Side Widget Well
        .well
          h4 Course quizes
          .row
            // Category 1
            .col-lg-6
              ul.list-unstyled
                li(ng-repeat='quiz in Course.Quizzes')
                  a(target="_self", href='{{currentUrl}}/Quiz/{{quiz.path}}') {{quiz.name}}
            // Category 2
        .well
          h4 User Posts
          .row
            // Category 1
            .col-lg-6
              ul.list-unstyled
                li(ng-repeat='post in Course.Posts')
                  a(href='#') {{post.name}}
            // Category 2
            .col-lg-6
              ul.list-unstyled
                li(ng-repeat='post in Posts')
                  a(href='#') {{post.name}}
        .well
          h4 Reputation (200)
          p
            | You have no recent negative or positive
            a reputation
            | changes
            .alert.alert-success(role='alert')
              strong Well done!
              i.pull-right.fa.fa-thumbs-up.icon-rounded.fa-2x  
// Andrew Kralovec 
   Course page, Template for the courses page.
   Recive Course object, and display its contents. 
   

  