extends layout

block content
  // Page Content
  .container
    .row
      // Blog Entries Column
      .col-md-8
        h1.page-header
          | Alpha Learning
          small Home Page
        // First Blog Post
        h2
          a(href='#') CS 435
        p.lead
          | by 
          a(href='index.php') Andrew Kralovec
        p
          span.glyphicon.glyphicon-time
          |  Posted on Feb 28, 2016 at 10:00 PM
        hr
        img.img-responsive(src='http://placehold.it/900x300', alt='')
        hr
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
        a.btn.btn-primary(href='#')
          | Read More 
          span.glyphicon.glyphicon-chevron-right
        hr
        // Second Blog Post
        h2
          a(href='#') Blog Post Title
        p.lead
          | by 
          a(href='index.php') Start Bootstrap
        p
          span.glyphicon.glyphicon-time
          |  Posted on August 28, 2013 at 10:45 PM
        hr
        img.img-responsive(src='http://placehold.it/900x300', alt='')
        hr
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!
        a.btn.btn-primary(href='#')
          | Read More 
          span.glyphicon.glyphicon-chevron-right
        hr
        // Third Blog Post
        h2
          a(href='#') Blog Post Title
        p.lead
          | by 
          a(href='index.php') Start Bootstrap
        p
          span.glyphicon.glyphicon-time
          |  Posted on August 28, 2013 at 10:45 PM
        hr
        img.img-responsive(src='http://placehold.it/900x300', alt='')
        hr
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.
        a.btn.btn-primary(href='#')
          | Read More 
          span.glyphicon.glyphicon-chevron-right
        hr
        // Pager
        ul.pager
          li.previous
            a(href='#') ← Older
          li.next
            a(href='#') Newer →
      // Blog Sidebar Widgets Column
      .col-md-4
        // Blog Search Well
        .well
          h4 Course Search
          .input-group
            input.form-control(type='text')
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-search
        // Blog Categories Well
        .well
          h4 Popular Courses
          .row
            // Category 1
            .col-lg-6
              ul.list-unstyled
                li
                  a(href='#') Accounting
                li
                  a(href='#') Animal Science
                li
                  a(href='#') Art
                li
                  a(href='#') Buisness
            // Category 2
            .col-lg-6
              ul.list-unstyled
                li
                  a(href='#') Computer Science
                li
                  a(href='#') Engineering
                li
                  a(href='#') Music
                li
                  a(href='#') Math
        // Side Widget Well
        .well
          h4 Side Widget Well
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
