extends layout

block content
  // Style for login 
  link(href="/stylesheets/login.css", rel="stylesheet")
  script(src="/javascripts/loginCtrl.js")
  // Page Content
  .container(ng-app='myApp', ng-controller='loginController')
    form.form-signin
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputEmail') Email address
      input.form-control(ng-model='username', type='text', placeholder='Username', required='', autofocus='')
      label.sr-only(for='inputPassword') Password
      input.form-control(ng-model='password', type='password', placeholder='Password', required='')
      .checkbox
        label
          input(value='remember-me', type='checkbox')
          |  Remember me
      a(href='/CreateAccount')
        | Create Account
      button.btn.btn-lg.btn-primary.btn-block(ng-click='login(username,password)', type='submit') Sign in
