//Created by Andrew Kralovec
extends layout
block content
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js")
    script(src="/javascripts/postCtrl.js")
    // Page Content
    .container(ng-app='postModule', ng-controller='postCtrl',, ng-init="Post= #{JSON.stringify(Post)}")
      .row
        // Blog Post Content Column
        .col-lg-8
          // Blog Post
          // Title
          h1 {{Post.name}}
          // Author
          p.lead
            | by 
            a(href='#') {{Post.author}}
          hr
          // Date/Time
          p()
            i.fa.fa-clock-o
            |  {{Post.timestamp}}
          hr
          // Preview Image
          .thumbnail
            img.img-responsive(ng-src='/images/{{Post.image}}', alt='{{Post.image}}',height='{{default.height}}', width='{{default.width}}')
            p Tets below
            h3
              i.fa.fa-file
              |  Files attached
          hr
          .post-content(ng-bind-html='sanitizeTrust(Post.content)')
            {{Post.content}}
          // Blog Comments
          // Comments Form
          .well
            h4 Leave a Comment:
            form(role='form')
              .form-group
                textarea.form-control(rows='3')
              button.btn.btn-primary(type='submit') Submit
          hr
          // Posted Comments
          // Comment
          .media
            .comment-content(ng-repeat='comment in Post.comments') 
              a.pull-left(href='#')
                img.media-object(src='http://placehold.it/64x64',height='{{default.mediaHeight}}',width='{{default.mediaWidth}}' alt='')
              .media-body
                h4.media-heading
                  | {{comment.username}}
                  small {{comment.timestamp}}
                | {{comment.content}}
        // Blog Sidebar Widgets Column
        .col-md-4
          // Blog Search Well
          .well
            h4 Blog Search
            .input-group
              input.form-control(type='text')
              span.input-group-btn
                button.btn.btn-default(type='button')
                  span.glyphicon.glyphicon-search
          // Blog Categories Well
          .well
            h4 Blog Categories
            .row
              .col-lg-6
                ul.list-unstyled
                  li
                    a(href='#') Category Name
                  li
                    a(href='#') Category Name
                  li
                    a(href='#') Category Name
                  li
                    a(href='#') Category Name
              .col-lg-6
                ul.list-unstyled
                  li
                    a(href='#') Category Name
                  li
                    a(href='#') Category Name
                  li
                    a(href='#') Category Name
                  li
                    a(href='#') Category Name
          // Side Widget Well
          .well
            h4 Side Widget Well
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
      hr
