extends layout

block content
    link(href="/stylesheets/register.css", rel="stylesheet")
    script(src="/javascripts/registerCtrl.js")
    .container(ng-app='myApp', ng-controller='registerController')
        .row.register-form
            .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
                    .register.heading
                        h2.register-title
                            | Sign-up
                    .panel-body
                        form(action='/register', method='post')
                            .row
                                .col-xs-6.col-sm-6.col-md-6
                                    .form-group
                                        input#firstname.form-control.input(type='text', name='firstname', placeholder='First Name')
                                .col-xs-6.col-sm-6.col-md-6
                                    .form-group
                                        input#lastname.form-control.input(type='text', name='lastname', placeholder='Last Name')
                            .form-group
                                input#username.form-control.input(ng-model='username', type='username', name='username', placeholder='Username', required='')
                            .row
                                .col-xs-6.col-sm-6.col-md-6
                                    .form-group
                                        input#password.form-control.input(ng-model='password', type='password', name='password', placeholder='Password', required='')
                                .col-xs-6.col-sm-6.col-md-6
                                    .form-group
                                        input#password_confirmation.form-control.input(type='password', name='password_confirmation', placeholder='Confirm Password')
                            button.btn.btn-lg.btn-primary.btn-block(ng-click='register(username,password,firstname,lastname)', type='submit') Register
