// Created by Andrew Kralovec
extends layout
block content
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js")
  script(src="//tinymce.cachefly.net/4.0/tinymce.min.js")
  script(src="/javascripts/createPostCtrl.js")
  //link(href='/stylesheets/tester.css', rel='stylesheet')
  // Page Content
  .container.ng-scope(ng-app='postModule', ng-controller='postCtrl')
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            strong Create Post
            small  
          .panel-body
            form(name='myForm')
              fieldset
              .form-group
                label(for='document-name') Post Title:
                input.form-control(type='text', name='postTitle', ng-model='postTitle', size='31', required='')
                i(ng-show='myForm.postTitle.$error.required') *required
                br
                label(for='document-description') Post Description:
                input.form-control(type='text', name='postDescription', ng-model='postDescription', size='31', required='')
                i(ng-show='myForm.postDescription.$error.required') *required
              br
            // HTML styling for post Content
            form(method='post')
              // Tinymce Directive
              textarea(ui-tinymce='', ng-model='tinymceModel')
              button(ng-click='test()') Click to test tag values
            // Attachments, Might have to create a seperate page for this one
            br
            h4 Attachments 
            button(ng-click='postData()') Submit
    .row
      .col-md-6.col-md-offset-4
        h2 Preview Post Page 
      .col-md-10.col-md-offset-1(ng-bind-html='sanitizeTrust(tinymceModel)')
        {{tinymceModel}}        

