// Created by Andrew Kralovec
// Create Account
extends ../layout
block content
 // Page Content
 script(src="/javascripts/controllers/CreateAccountCtrl.js")
 .container(ng-app='createAccount', ng-controller='accountController', style='padding: 70px; position: relative;')